<style>
  body {
    margin: 0;
  }
  
  .toolbar {
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
  }
  
  .toolbar a , .toolbar .dropdown{
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .toolbar a:hover , .toolbar .dropdown:hover{
    color: darkgray;
  }
  
  .toolbar a.active , .toolbar .dropdown.active, li.active{
    color: darkred;
  }
  .links a{
    padding: 0;
    margin: auto;
  }
  .links a span{
    margin-left: 3px;
    align-self: center;
  }
  #sidemenu{
    z-index: 2;
    position: absolute;
    background: white;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li,li div a{
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    text-decoration: none;
display: block;
  }
  #menu-button{
    display: none;
    height: 6vw;
    min-height: 30px; 
  }
  @media only screen and (max-width: 850px) {
    .links span,#linea{
      display: none;
    }
  }
  @media only screen and (max-width: 780px) {
    #menu{
      display: none;
    }
    #menu-button{
      display: block;
    }
  }
 
 

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  </style>
<div class="toolbar" style="font-weight: 300;
display: grid;
grid-template-columns: 30% 30% 30%;
margin: auto;
width: 100%;">
  <div
  style="
  display: flex;
  align-self: center;
  justify-self: start;
  grid-column: 1/2;"
  >
  <button
  id="menu-button"
  (click)="toggle()"
  style="background: none;
  cursor: pointer;
  border: none;"
  >    
    <img style="height: 30px;" src="../assets/menu.png" alt="logo">
  </button>
  </div>
  
  <div href="#about"
  style="
  align-self: center;
  justify-self: center;
  grid-column: 2/3;"
  >
    <img style="height: 10vw; min-height: 50px; max-height: 90px;" src="../assets/logotext.png" alt="logo">
  </div> 
  <div class="links" style="grid-column: 3/4; align-self: center; display: flex;">   
    <a style="display: flex;" href="#about"><img style="height: 30px;" src="../assets/marker.png" alt="logo"><span>Tiendas</span>  </a>
    <a style="display: flex;" href="#about"><img style="height: 30px;" src="../assets/heart.png" alt="logo"> <span> Lista de deseos</span></a>
    <a style="display: flex;" href="#about"><img style="height: 30px;" src="../assets/bag.png" alt="logo"> <span>Mi bolsa</span> </a>
  </div>
</div>
<div id="menu" class="toolbar" style="font-weight: 300;">
  <div  routerLinkActive="active" class="dropdown">JEANS
    <div class="dropdown-content">
      <a routerLink="/holgados">Holgados</a>
      <a routerLink="/jeans">Apretados</a>
      </div>
  </div>
  <a routerLink="/denim" routerLinkActive="active">DENIM</a>
  <a routerLink="/ropa" routerLinkActive="active">ROPA</a>
  <a routerLink="/accesorios" routerLinkActive="active">ACCESORIOS</a>
  <a routerLink="/basicos" routerLinkActive="active">BÁSICOS INFALTABLES</a>
  <a routerLink="/novedades" routerLinkActive="active">NOVEDADES</a>
  <a routerLink="/rebajas" routerLinkActive="active">REBAJAS</a>
</div>


  <!--Linea divisora-->
  <div
  id="linea"
  style="
  width: 90%;
  margin: auto;
  height: 1px;
  background-color: #070707;
  margin-bottom: 50px;
  margin-top: 50px;"
  ></div>

  <div [@toggle]="open ? 'open' : 'closed' "id="sidemenu"
    style="
    
    margin-left: -220px;
    height: 100%;
    width: 200px;
    font-weight: 300;
    overflow: hidden;"
    >
    <ul (click)="toggle()">
    <li  routerLinkActive="active" class="dropdown" >JEANS
      <div class="dropdown-content">
        <a routerLink="/holgados">Holgados</a>
        <a routerLink="/jeans">Apretados</a>
      </div>
    </li>
    <li routerLink="/denim" routerLinkActive="active">DENIM</li>
    <li routerLink="/ropa" routerLinkActive="active">ROPA</li>
    <li routerLink="/accesorios" routerLinkActive="active">ACCESORIOS</li>
    <li routerLink="/basicos" routerLinkActive="active">BÁSICOS INFALTABLES</li>
    <li routerLink="/novedades" routerLinkActive="active">NOVEDADES</li>
    <li routerLink="/rebajas" routerLinkActive="active">REBAJAS</li>
    </ul>
    
  </div>
 
  <router-outlet></router-outlet>
 